@page
@model Imperium.Pages.Usuarios.IndexModel

@{
    ViewData["Title"] = "Usuario | Administrar";
}

<h1>Administrar los usuarios</h1>
<div class="row">
    <h6 class="col-10">
        Aquí podrás administrar a todos los usuarios, podrás inspeccionar, modificar o eliminar.
        De igual forma podras agregar nuevos usuarios:
    </h6>
    <p class="col-2">
        <a class="btn btn-dark btn-lg" asp-page="Create">Añadir</a>
    </p>
</div>
<br />
<table class="table table-hover table-striped">
    <thead style="background-color: #38383F; color:white;">
        <tr>
            <th>
                Correo:
            </th>
            <th>
                Nombre
            </th>
            <th>
                Número celular:
            </th>
            <th>
                Ciudad
            </th>
            <th>
                Perfil
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Usuario)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfil.Nombre)
            </td>
            <td>
                <a class="btn btn-outline-dark btn-sm" asp-page="./Edit" asp-route-id="@item.Correo">Editar</a> |
                <a class="btn btn-outline-dark btn-sm" asp-page="./Details" asp-route-id="@item.Correo">Detalles</a> |
                <a class="btn btn-outline-dark btn-sm" asp-page="./Delete" asp-route-id="@item.Correo">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
